/* Resetear márgenes y paddings para todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin-top: 0px;
}

/* Estilos para el contenedor principal */
.contenedor {
    max-width: 1250px;
    margin: 20px auto;
    margin-top: 5px;
    padding: 15px;
    background-color: #d3cfcf;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    text-align: center;
    margin-bottom: 5px;
    font-size: 2.5em;
    color: #3498db;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}


/* Estilos para el contenedor de "Mejores puntajes" y puntajes máximos */
.contenedor-puntajes {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Estilos para el contenedor de "Mejores puntajes" */
.mejores-puntajes,
.mejor-jugador {
    width: 150px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5 px;
    font-style: bold;
}

/* Estilos para el botón "Jugamos?" */
#boton {
    display: block;
    width: 150px;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 0;
}

#boton:hover {
    background-color: #2980b9;
}

.contenedor .tabla {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

/* Estilos para las columnas */
.columna {
    width: calc(25% - 20px);
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columna h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

/* Estilos para los puntajes */
.puntaje {
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    transition: background-color 0.3s;
}

.puntaje:hover {
    background-color: #2980b9;
}